.schedule {
    font-size: 0.7em;
    table-layout: fixed;
}

.schedule th, .schedule td {
    /*border-bottom: 1px solid #ddd;*/
    padding: 0.25em;
    border: 2px solid #aaa;
    text-align: center;
    minimum-height: 2em;
}

.schedule th {
    background-color: #d9d9d9;
}

.event-talk {
    background-color: #c8d1e6;
}

.event-break {
    background-color: #f5e3bc;
}

.event-workshop {
    background-color: #fef8b9;
}

.event-misc {
    background-color: #d9d9d9;
}

.event-social {
    background-color: #daecc5;
}

.event-keynote {
    background-color: #a3b2d5;
}
